node_modules
vendor
.env
.env.backup
.env.production
.git
.gitignore
.phpunit.cache
.idea
.vscode
.cursor
.zed
tests
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
*.log
Thumbs.db
.DS_Store
